html {

	}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#schedule{
	width: 250px;
	border: 1px solid gray;
	margin: 75px;
	background: lightgray;
/*	opacity: 0.5;*/
	color: black;
	font-weight: bold;
}

#menu{
	width: 350px;
	height: auto;
	border: 1px solid gray;
	margin: 50px;
	font-size: 18px;
	color: yellow;
	font-weight: bold;
	background: purple;
	font-family: times, sans-serif;

}

#menu li{
	margin-left: 20px;
	font-size: 16px;
}

.container{
	margin: 10px;
}

.sunday{
	background-image: url(../images/memorial.jpeg);
	background-repeat: repeat;
	background-size: cover;
/*	background-attachment: fixed;*/
}

#sunday h3{
	font-size: 25px;
	text-align: center;
	margin: 5px;
}


#shoppingList{
	/*background: url(images/notepook.png);*/
		height: 30px;
		width: 55px;
		text-decoration: none;
		color: black;
		text-align: center;
		border: 2px solid black;
		background: gray;
		position: fixed;
		margin-left: 270px;
			margin-top: -5px;
			font-size: 12px;
}


@media only screen and (max-width: 350px) {
.sunday{
}


/* if calling element use nothing
   if calling class use . before name
   if calling id use # before name
